.game-sidebar-container {
    border: solid 2px black;
    width: 30vw;
    height: 50vh;
    margin: 5vw;
    font-family: 'Courier New', Courier, monospace;
}

.game-result-label {
    margin-top: 50px;
    font-size: 20px;
    color: red;
}

.game-sidebar-home-button {
    margin-top: 20px;
}