.light-square {
  background-color: rgb(232, 235, 239);
}

.dark-square {
  background-color: rgb(125, 135, 150);
}

.light-square-highlighted {
  background-color: rgb(202, 205, 209);
}

.dark-square-highlighted {
  background-color: rgb(95, 105, 120);
}

.square {
  width: 10vh;
  height: 10vh;
}

.row {
  display: flex;
  flex-direction: row;
}

.board {
  border: solid black 2px;
  /* max-width: 100vh;
  max-height: 100vh; */
  /* width: 100vh; */
  /* height: 100vh; */
}
