.light-square {
  background-color: rgb(232, 235, 239);
}

.dark-square {
  background-color: rgb(125, 135, 150);
}

.highlight-color {
  background-color: rgb(144, 244, 225, 0.5);
}

.light-square-highlighted {
  background-color: rgb(189, 240, 232);
}

.dark-square-highlighted {
  background-color: rgb(135, 190, 188);
}

.square {
  width: 10vh;
  height: 10vh;
  position: relative;
}

.row {
  display: flex;
  flex-direction: row;
}

.promotion-choice {
  background: rgba(22,21,18,0.7);
  z-index: 205;
  position: absolute;
  width: var(--cg-width, 100%);
  height: var(--cg-height, 100%);
  right: 0;
}

.board {
  border: solid black 2px;
  /* max-width: 100vh;
  max-height: 100vh; */
  /* width: 100vh; */
  /* height: 100vh; */
}

.possible-destination-square {
  border: solid 1px black;
  background-color: rgb(144, 244, 225, 0.5);
  border-radius: 50%;
  width: 2vh;
  height: 2vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}